{% extends 'base.html' %}
{% load i18n %}
{% block body %}
<div class='container-fluid'>
    <div class='row'>






        <div class='col'>

            <div class="nav flex-column nav-pills"
                 id="v-pills-tab"
                 role="tablist"
                 aria-orientation="vertical">

                <a class="nav-link active"
                   id="v-pills-list-tab"
                   data-toggle="pill"
                   href="#v-pills-list"
                   role="tab"
                   aria-controls="v-pills-list"
                   aria-selected="true">

                   Display Bookings

                </a>

                <a
                    class="nav-link"
                    id="v-pills-create-tab"
                    data-toggle="pill"
                    href="#v-pills-create"
                    role="tab"
                    aria-controls="v-pills-create"
                    aria-selected="false">

                    Create New Booking

                </a>

                <a
                    class="nav-link"
                    id="v-pills-create_form-tab"
                    data-toggle="pill"
                    href="#v-pills-create_form"
                    role="tab"
                    aria-controls="v-pills-create_form"
                    aria-selected="false">

                    **TMP** Create Form

                </a>

            </div>
        </div>
        <div class='col-8'>
            <div class="tab-content" id="v-pills-tabContent">
                <div
                    class="tab-pane show active"
                    id="v-pills-list"
                    roles="tabpanel"
                    aria-labelledby="v-pills-list-tab">
                    <p class='h2 text-center'>
                        Your upcoming bookings
                    </p>
                    <div id='calendar'></div>
                </div>
                <div
                    class="tab-pane"
                    id="v-pills-create"
                    roles="tabpanel"
                    aria-labelledby="v-pills-create-tab">
                    <p class='h2 text-center'>
                        Schedule New Booking
                    </p>
                    <div id='entry_calendar'></div>
                </div>
                <div
                    class="tab-pane"
                    id="v-pills-create_form"
                    roles="tabpanel"
                    aria-labelledby="v-pills-create_create-tab">
                    {% include 'create_booking.html' %}
                </div>
            </div>
        </div>
        <div class='col'>
        </div>
    </div>
</div>
{% endblock %}
